<!DOCTYPE html>
<html>
    <head>
        <title>secret</title>
    </head>
    <body>
        <h3>지금까지 한 것</h3>
        <li>아이디, 비밀번호 틀리면 로그인못함</li>
        <li>로그인 성공시 지금 이 secret 페이지로 넘어오면서 세션 생성(mysql에 세션자동저장)</li>
        <li>맨 아래있는 로그아웃버튼 누르면 mysql에 저장되어있는 세션의 user부분 삭제</li>
        <li>MYSQL 이용하였고 MONGODB로 다시 구현을 생각중</li>
        <li>이유는 게시판, 회원가입이 쌓이는 데이터라 MONGODB가 어울린다고 생각했고 MYSQL보다 MONGODB예제가 많음</li>
        
        <h3>수행해야 할일</h3>
        <li>비밀번호 암호화(bcryptjs)사용하면 됨</li>
        <li>게시판 기능구현(작성,수정,삭제 및 로그인 과정을 통과한 사람만 게시판을 작성할수 있도록)</li>
        <li>회원의 회원정보 수정(아이디, 패스워드 같은 것을 변경할 수 있게)</li>
        <li>alert 함수 부분을 서버가 아닌 ejs에서 띄우도록 수정해야함</li>
        <button onClick="location.href='/logout'">로그아웃</button>
    </body>
</html>